<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/css/style.css" />
    <script defer src="/static/js/script.js"></script>

    <title>About</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="/" class="logo"> KisumuJS </a>
        </div>

        <div class="hamburger-menu">
          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>

        <div class="navs">
          <ul class="nav-links">
            <li class="link active">
              <a href="index.html">Home</a>
            </li>
            <li class="link">
              <a href="blog.html">Blog</a>
            </li>
            <li class="link">
              <a href="contact.html">Contact</a>
            </li>
            <li class="link">
              <a href="about.html">About</a>
            </li>
          </ul>

          <div class="change-mode mode-toggler">
            <ion-icon name="sunny-outline" class="sunny"></ion-icon>
            <ion-icon name="moon-outline" class="moon"></ion-icon>
          </div>
        </div>

        <div class="change-mode mode-toggler-large">
          <ion-icon name="sunny-outline" class="sunny"></ion-icon>
          <ion-icon name="moon-outline" class="moon"></ion-icon>
        </div>
      </nav>
    </header>

    <main>
      <h1>Welcome To About Page</h1>
    </main>

    <!-- Icons -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
